header{
/*    background: #E44A52;
    overflow: hidden;
    color: #FFFFFF;
    margin-bottom: 50px; */
    padding: 20px 0;
}
header img{
    margin-left: 43px;
}
header i{
    padding: 10px;
    color: #2c3e50;
    border: 1px solid #2c3e50;
    font-size: 40px;
}
header i:hover{
    background: #ecf0f1;
}
.button{
	margin-bottom: 5px;
}
.name a{
	text-decoration: none;
	font-weight: bold;
}
.name a:hover{
	color: #16a085;
}
.name a:click{
	color: #2c3e50;
}
.form-group{
	padding-bottom: 25px!important;
}
.m_bottom{
	margin-bottom: 10px;
}
thead{
	background: #16a085;
	color: #FFFFFF;
}

/* login */

.bg-login{
	background: #2c3e50;
}
.bg-login h1{
	margin-top: 50px;
        font-size: 70px;
        font-weight: bold;
        font-family: 'Comic Sans MS', cursive;
	text-align: center;
	color: #ecf0f1;
}
.bg-login h3{
	text-align: center;
	color: #ecf0f1;
        font-family: 'Comic Sans MS', cursive;
}
.login{
	background: #ecf0f1;
	margin-top: 100px;
        font-family: 'Comic Sans MS', cursive;
	box-shadow: 10px 10px;
	border: 12px solid rgba(189, 195, 199,0.5);
}
.log{
	margin-top: 15px;
}
#important{
	padding-bottom: 0px!important;
}