/*
------------
Visit twitterbootstrap.org for more tut 
-------------
*/

@import url('../../Resource/assets/css/bootstrap.min.css');
@import url('../../Resource/assets/css/bootstrap-responsive.min.css');
/* New styles */

label.valid {
	width: 24px;
	height: 24px;
	background: url(../../Resource/assets/img/valid.png) center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}
label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}
