*{margin:0; padding:0}
body {background-color: #333; background: url(../../Resource/images/bg4.jpg) repeat fixed; font-family: 'Oxygen', sans-serif; font-size: 14px}

.wrapper {width: 1160px; margin: 30px auto; padding: 0; background: #eee; box-shadow: 0 0 5px 3px #666; padding:15px}
header {min-height:100px; background: #2e8ece}
header h1 {text-align: center; padding:30px; color: #eee}
h2 {font-size: 20px; padding-bottom:22px}
nav {display:black; overflow: hidden; background: #2c3e50; width: 100%}
nav  ul{list-style: none}
nav  ul li{float: left; border-right: 1px solid #333 }
nav  ul li:last-child{border-right: 0px solid #333 }
nav  ul li a{display: block; padding: 10px 20px; text-decoration: none; background:#2c3e50; color: #eee; font-weight:700; transition: .35s ease}
nav  ul li a:hover{background: #16a085; text-decoration: none; color: #fff}
.left {width: 415px; float: left; overflow: hidden; display: block}
.right {width: 415px; float: right; overflow: hidden; display: block}
.right img {width: 100%; }
.left  img {width: 100%; }
section {margin: 20px 0; padding-bottom:20px; width: 100%;height:900px}
footer {background:  #2e8ece;   overflow: hidden; display: block;width: 100%; }
footer p {padding: 20px; color: #eee; text-align: center;}
.clear {clear: both}